.ajax-success {
  background-color: #00b0d9;
  padding: 10px;
  color: #FFF;
  font-weight: bold;
  margin-top: 15px;
  display: none;
}

.ajax-success a {
  color: #FFF;
  text-decoration: underline;
}